[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/greylist034/gohugo-theme-ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
